.blog-card{
    background: #ffffff05;
    border-radius: 18px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    box-shadow: 0px 0px 4px #fff3, inset 2px 2px 10px #f5797909;
}
.blog-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.blog-list{
    list-style-image: url('../../assets/image/red-tick.png');
    list-style-position: inside;
    color: #e0e0e0;
    font-size: 18px;
    white-space: nowrap;
    padding: 3px 0;
}